USE [master]
GO
/****** Object:  Database [PLANILLA]    Script Date: 29/11/2023 11:14:32 a. m. ******/
CREATE DATABASE [PLANILLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PLANILLA', FILENAME = N'D:\DATA2012\PLANILLA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PLANILLA_log', FILENAME = N'D:\DATA2012\PLANILLA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PLANILLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PLANILLA]
GO
/****** Object:  Table [dbo].[area]    Script Date: 29/11/2023 11:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[area](
	[codigo_area] [char](2) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio] [decimal](12, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[boleta_pago]    Script Date: 29/11/2023 11:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[boleta_pago](
	[id_boleta] [int] IDENTITY(1,1) NOT NULL,
	[empleado] [varchar](50) NULL,
	[cargo] [varchar](30) NULL,
	[pago_hora] [money] NULL,
	[nro_horas] [int] NULL,
	[sueldo_bruto] [money] NULL,
	[descuento] [money] NULL,
	[sueldo_total] [money] NULL,
 CONSTRAINT [pk_boleta] PRIMARY KEY CLUSTERED 
(
	[id_boleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 29/11/2023 11:14:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleados](
	[CODIGO] [char](6) NOT NULL,
	[EMPLEADO] [varchar](50) NULL,
	[EDAD] [int] NULL,
	[AREA] [varchar](30) NULL,
 CONSTRAINT [PK_empleados] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
